/* primary color (Blue): #002263;
   secondary color: #aa6700;
   sun color three: #f76414;
   grid__item color: lightgrey;
   white: #ffffff;
*/

:root {
    --primary-color: #002263;
    --secondary-color: #eceaae;
    --light-yellow: #fcffad;
    --fire: #f76414;
    --white: #ffffff;
    --padding-zero: 0;
    --font-size-h1: 30px;
  }

  * {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: calc(16px + 0.390625vw);
    line-height: 1.6;
    margin: 0 10%;
    background-color: var(--secondary-color)
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 700;
   }

   .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    position: sticky;
    bottom: 0;
}

.page-footer__item {
    color: var(--secondary-color)
}

.social-media-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: var(--padding-zero);
    /*width: 10%;*/
}

.social-media-list li {
    margin: 2px;
}

.page-header {
    display: flex;
    max-width: 100%;
    padding: 20px;
    margin: auto;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.page-header__item {
    flex: 0 1 200px;
}

