/* primary color (Blue): #002263;
   secondary color: #aa6700;
   sun color three: #f76414;
   grid__item color: lightgrey;
   white: #ffffff;
*/

:root {
    --primary-color: #002263;
    --secondary-color: #eceaae;
    --light-yellow: #fcffad;
    --fire: #f76414;
    --white: #ffffff;
    --padding-zero: 0;
    --font-size-h1: 30px;
  }

  * {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: calc(16px + 0.390625vw);
    line-height: 1.6;
    background-color: var(--secondary-color)
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 700;
   }

   .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    position: sticky;
    bottom: 0;
    margin: 0 5%;
    height: 10%;
}

.page-footer__item {
    color: var(--secondary-color)
}

.social-media-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: var(--padding-zero);
    /*width: 10%;*/
}

.social-media-list li {
    margin: 2px;
}

.page-header {
    display: flex;
    max-width: 100%;
    padding: 20px;
    margin: 0 5%;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: left;
}

.page-header__item:first-child {
    width: 10%;
    height: 10%;
}

.profile {
    max-width: 80%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon_photo {
    width: 50%;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 0;
    float: left;
    min-width: 200px;
    max-width: 600px;
}

.navigation-list {
    list-style-type: none;
    padding: 0;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;   
}

.navigation-list__item {
    font-weight: bold;
}

.navigation-list__item--active {
    text-decoration: none;
}

.pokemon-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: thick solid var(--primary-color);
    max-width: 50%;
}

.pokemon-table thead tr {
    color: var(--primary-color);
    text-align: left;
}

.pokemon-table td {
    padding: 9px 15px;
    color: var(--primary-color);
}

.pokemon-table tbody tr {
    border-top: 1px solid var(--primary-color);
}

a {
    color: var(--light-yellow);
}

a:visited {
    color: var(--secondary-color);
}

a:hover, a:focus {
    /* no underlining when you hover on the link*/
    text-decoration: none;
}

a:active {
    color: var(--fire);
}

.button-class{
    background-color: var(--light-yellow);
    border: solid 2px;
    color: var(--primary-color);
    padding: 20%;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-family: inherit;
    font-size: 2vw;
    border-radius: 50%;
    transition: 0.4s opacity;
    margin: 10%;
    }

    .button-class:hover,
.button-class:focus {
    background-color: var(--primary-color);
    color: var(--light-yellow);
    cursor: pointer;
    opacity: 0.8;
}

.pokemon-list{
    list-style-type: none;
    padding: 5%;
    margin: 5%;
    column-count: 4;
    column-gap: 50px;
}

.search-field{
    color:var(--primary-color);
    background-color:var(--secondary-color);
    border-color: var(--primary-color) 20px;
    border-radius: 10%;
    width: 40%;
}

.search-text{
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}