{
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true,
        "commonjs": true
    },
    "extends": [
        "eslint:recommended", 
        "prettier"
    ], 
   

    "rules": {
        "quotes": [
            "error",
            "single"
        ],
        "prettier/prettier": [
            "error"
        ]
    },

    "plugins": [
        "prettier", 
        "dollar-sign",
        "jquery"
    ]
}
